body{
    margin: 0;
}

.book-outer-box{
    width: 60%;
    margin: 0 auto;
    font-size: 1.2vw;
}

.book-detail-box{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.book-page-thumbnail-box{
    padding: 10px;
    border: 1px solid rgb(195, 195, 195);
}

.book-page-thumbnail{
    width: 100%;
    height: 100%;
}

.box-1{
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px;
}

.box-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box-2>div{
    padding: 10px;
}

.book-page-user-review{
    padding: 20px 0 0 0;
}

#book-page-title{
    font-size: 1.8em;
    margin: 0;
}

#book-page-author{
    font-size: 0.9em;
    margin: 0;
}

.book-page-detail-box{
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgb(206, 206, 206);
    padding: 10px;
    background: rgb(214, 214, 214);
    width: fit-content;
}

.book-page-detail-box p{
    margin: 0;
}

.book-modify-btn{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(61, 110, 202);
    color: white;
}

@media screen and (max-width: 1000px) {
    .book-outer-box{
        width: 80%;
        margin: 0 auto;
        font-size: 1.5vw;
    }

    .box-2, #book-page-desc, .all-reviews{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 650px) {
    .book-outer-box{
        width: 80%;
        margin: 0 auto;
        font-size: 1.8vw;
    }

    .book-detail-box{
        display: block;
    }

    .box-2, #book-page-desc, #book-page-author, #book-page-title, .all-reviews{
        font-size: initial;
    }

    .box-1, .box-2{ 
        display: block;
    }
}
