body{
    margin: 0;
}

.book-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 28px;
    margin: 10px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    max-width: fit-content;
    background-color: rgba(230, 230, 230, 0.493);
    border-radius: 10px;
}

.desc-box{
    padding: 10px;
    min-width: 4em;
}

.book-title{
    font-size: 0.6em;
    margin: inherit;
    max-height: 3em;
    overflow: hidden;
}

.book-title:hover{
    position: relative;
    overflow: visible;
}

.book-author{
    font-size: 0.4em;
    margin: inherit;
}

.rating-info{
    font-size: 0.5em;
    margin-top: 20px;
}

.rating-info div{
    font-size: 1.5em;
}

.rating-info p{
    margin: unset;
}

.book-desc{
    height: 100px;
    font-size: 0.5em;
    font-style: italic;
    overflow: hidden;
}

.thumbnail-box{
    height: 155px;
    width: 120px;
    position: relative;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
}

.book-thumbnail{
    height: 100%;
    width: 100%;
}

.user-rating{
    width: calc(100% - 20px);
    position: absolute;
    bottom: 10px;
    background-color: rgba(59, 190, 140, 0.65);
}

.user-rating div div{
    font-size: 0.6em;
}

.detail-box{
    padding: 10px;
    min-width: fit-content;
    font-size: 0.45em;
}

@media screen and (max-width: 1000px) {
    .book-container{
        max-width: 400px;
    }

}

@media screen and (max-width: 500px) {
    .book-container{
        grid-template-columns: 1fr 1fr;
        max-width: 400px;
        font-size: 22px;
    }
    .detail-box{
        display: none;
    }
    .thumbnail-box{
        height: 120px;
        width: 95px;
    }

}
