html{
	height: 100%;
}

body{
	margin: 0;
	height: 100%;
}

main{
	width: 70%;
	margin: 0 auto;
	height: 100%;
}
.books{
	pointer-events: auto;
	border: none;
	height: 20%;
	background-color: #ffffff;
}

.books:hover{
	box-shadow: 0 0 5px 1px rgb(214, 214, 214);
	background-color: rgba(238, 238, 238, 0.555);
}


.book-container{
	pointer-events: none;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	width: 100%;
	align-items: center;
	height: 100%;
	gap: 35px;
}
.desc-box{
	overflow: hidden;
	padding: 0 20px;
}
.desc-box>div p{
	display: inline;
}
.book-desc{
	text-align: justify;
	word-spacing: 0.5px;
	line-height: 1.5em;
	color: #878686;
	font-size: 16px;
	font-family: 'Patrick Hand', cursive;
	margin: 20px;
	overflow: hidden;
	height: 45%;
	width: 80%;
}
		
.book-title{
	font-size: 30px;
}
.book-heading-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.book-author{
	font-style: italic;
    font-family: cursive;
}
.rating-info{
	font-family: 'Balsamiq Sans', cursive;
    font-size: 14.5px;
    background-color: rgb(73, 49, 49);
    padding: 10px;
    border-radius: 5px;
	color: white;
}

.detail-box{
	font-size: 20px;
    text-align: left;
    font-family: cursive;
    color: #5c5c5c;
    border-left: 2px solid #a7a7a7;
    padding-left: 20px;
    border-radius: 0 10px 10px 0;
}

.thumbnail-box{
	position: relative;
	height: 60%;
	text-align: left;
}
.book-thumbnail{
	height: 100%;
}

.user-rating{
	position: absolute;
	padding: 0 5px;
	left: 0;
	bottom: 0;
	color: white;
    background: #39ab6b94;
	width: 100%;
	box-sizing: border-box;
}

.stars-input{
	display: none;
}

.filled-stars{
	pointer-events: auto;
	color: rgb(253, 213, 31);
	font-size: 100px;
}

.empty-stars{
	pointer-events: auto;
	color: white;
	font-size: 250%;
}
