body{
    margin: 0;
}

#nav-margin-box{
    font-size: 20px;
    padding-top: 3.3em;
}

.navbar{
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    font-size: 20px;
    align-items: center;
    color: rgb(197, 160, 160);
    background: url('../images/bg.png');
    background-position: center;
    background-size: cover;
    font-size: 20px;
    background-color: white;
    z-index: 1;
}

.navbar>*{
    margin: 0px 20px;
    padding: 5px 0;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

#site-name{
    font-size: 1.5em;
    text-align: center;
    color: rgb(224 224 224);
    font-family: fantasy;
}

#navbar-logout-btn, .login-btn{
    width: fit-content;
    font-size: 1em;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white !important;
}
.btn-box{
    text-align: end;
    margin: unset;
    margin-right: 20px;
}

#navbar-logout-btn{
    background-color: rgb(158, 47, 47);
}

.login-btn{
    background-color: rgb(36, 136, 53);
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .navbar{
        font-size: 12px;
        grid-template-columns: 1fr 1fr 2fr;
    }
    .logout-btn-box{
        text-align: start;
    }

    #nav-margin-box{
        font-size: 12px;
    }

}