body{
    margin: 0;
}

.outer-box{
    width: 80%;
    margin: 20vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.signup-form-box{
    width: fit-content;
}

#signup-heading{
    border-radius: 10px 10px 0 0;
    padding: 20px;
    font-size: 1em;
    color: white;
    margin: 0 0 15px 0;
    background: url('../images/bg.png');
    background-position: center;
    background-size: cover;
}

.signup-input-box{
    padding: 20px;
    font-size: 0.8em;
    border: 1px solid grey;
}

.signup-input{
    border: none;
    outline: none;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    font-size: 0.7em;
    padding: 5px;
    height: 2em;
    width: 400px;
    margin-bottom: 10px;
}

#signup-btn{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(39, 26, 26);
    font-size: 20px;
    color: white;
    padding: 10px 18px;
    margin-top: 20px;
}

label{
    color: rgb(80, 80, 80);
}

h2{
    font-weight: lighter;
}

.valid-error{
    color: rgb(195, 76, 76);
    margin: 0;
    min-height: 1.5em;
    max-height: 1.5em;
    font-size: 0.8em;
    max-width: 400px;
}