body{
    margin: 0;
}

.outer-box{
    width: 70%;
    margin: 20vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    font-size: 1.7vw;
}

.signup-form-box{
    width: 80%;
}

#signup-heading{
    border-radius: 10px 10px 0 0;
    padding: 0.4em;
    font-size: 1em;
    color: white;
    margin: 0 0 15px 0;
    background: url('../images/bg.png');
    background-position: center;
    background-size: cover;
}

.signup-input-box{
    padding: 1.2vw;
    font-size: 0.8em;
    border: 1px solid grey;
}

.signup-input{
    border: none;
    outline: none;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0.2vw;
    height: 2em;
    width: 90%;
    margin-bottom: 10px;
}

#signup-btn{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(39, 26, 26);
    font-size: 1em;
    color: white;
    padding: 0.5vw 1.6vw;
    margin-top: 1vw;
}

label{
    color: rgb(80, 80, 80);
}

h2{
    font-weight: lighter;
}

.valid-error{
    color: rgb(195, 76, 76);
    margin: 0;
    min-height: 1.5em;
    max-height: 1.5em;
    font-size: 0.8em;
    max-width: 400px;
}

@media screen and (max-width: 1000px) {
    #signup-heading{
        font-size: 1.5em;
    }

    .signup-input-box{
        font-size: 1em;
    }
}

@media screen and (max-width: 650px) {
    .outer-box{
        width: 90%;
        margin: 10vh auto;
        font-size: 20px;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .text{
        font-size: 1em;
    }
    .signup-form-box{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .signup-input-box{
        border-radius: 0 0 10px 10px;
    }
    #signup-heading{
        margin:0;
        font-size: 1em;
    }
    .signup-input-box{
        font-size: 0.8em;
    }

}